.spinner-grow-loader {
    &.sm {
        width: 2rem;
        height: 2rem;
    }

    &.md {
        width: 4rem;
        height: 4rem;
    }

    &.lg {
        width: 7rem;
        height: 7rem;
    }

    &.lgp {
        width: 10rem;
        height: 10rem;
    }

    margin: auto !important;
}

.loader-container {
    &.fullScreen {
        position: absolute;
        height: 100% !important;
        width: 100% !important;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        align-content: center;
        background-color: #FFF !important;
    }
}