.isModal {
    margin: 0px !important;
    max-width: 100% !important;
    padding: 1% !important;
    form {
        .form-control {
            margin: 10px 0px !important;
        }
    }
    section {
        button {
            cursor: pointer !important;
        }
    }
}