@import "../../global.scss";

.list-titles-container {
    margin: 0rem 8rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap !important;
    gap: 1%;
    border: none;

    @media screen and (max-width: 650px) {
        margin: 0rem;
        
    }
    * {
        padding: 0px !important;
        border: none;
    }
    .card-title:hover {
        transform: scale(0.989) !important;

        .carousel-inner {
            .carousel-item {
                img {
                    filter: brightness(15%);
                }
            }
        }
    }

    .card-title {
        transform: scale(0.989);
        transition: 0.3s !important;
        width: 19% !important;
        margin: 10px 0px !important;
        * {
            border: none;
        }
        @media screen and (max-width: 650px) {
            width: 23% !important;
        }
        @media screen and (max-width: 980px) {
            width: 25% !important;
        }

        .carousel-inner {
            .carousel-item {
                img {
                    filter: brightness(25%);
                    width: 100%;
                    height: 150px;
                    object-fit: cover;
                }
                .carousel-caption {
                    width: 100%;
                    color: var(--bs-light);
                    margin: 0px !important;
                    padding: 0px !important;
                    margin-left: -15% !important;
                    h5 {
                        line-break: "anywhere" !important;
                        font-size: larger !important;
                        margin: 0px !important;
                        @media screen and (max-width: 780px) {
                            font-size: small !important;
                        }
                        @media screen and (max-width: 1100px) {
                            font-size: medium !important;
                        }
                    }
                }
            }
        }
    }
}

