@import "../../global.scss";

.breadcrumb-item {
    a {
        text-decoration: none !important;
        color: var(--bs-light);
        font-weight: 500;
    }
    &.active {
        color: var(--bs-light);
        cursor: default !important;
        -webkit-touch-callout: none !important;
        -webkit-user-select: none !important;
        -khtml-user-select: none !important;
        -moz-user-select: none !important;
        -ms-user-select: none !important;
        user-select: none !important;
    }
    &.active::before {
        color: var(--bs-light) !important;
    }
}

.bread-cont {
    margin: 0px !important;
    padding: 0px !important;
    width: 100%;
}

.breadcrumb-container {
    background-color: var(--bs-dark);
    display: flex;
    min-height: $breadcrumb-height;
    max-height: $breadcrumb-height;
    height: $breadcrumb-height;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    margin-top: $navbar-height;
    padding: .7rem 20rem !important;
    position: fixed !important;
    top: 0;
    z-index: 12;
    width: 100%;
}
ol.breadcrumb {
    align-items: center !important;
    margin-bottom: auto !important;
    color: var(--bs-light);
}

.breadcrumb-container-single {
    background-color: var(--bs-dark);
    display: flex;
    min-height: $breadcrumb-height;
    max-height: $breadcrumb-height;
    height: $breadcrumb-height;
    justify-content: center;
    text-align: center;
    align-items: center;
    align-content: center;
    margin-top: $navbar-height;
    padding: .7rem 20rem !important;
    position: fixed !important;
    top: 0;
    z-index: 12;
    width: 100%;
}