@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

$navbar-height: 65px;
$navbar-sm-height: 80px;
$dark-color: var(--bs-dark);
$light-color: var(--bs-light);
$breadcrumb-height: 35px;
$margin-top-global: calc($navbar-height + $breadcrumb-height);

.nav-link {
    cursor: pointer !important;
    color: $dark-color;
    svg {
        color: $dark-color;
    }

    @media screen and (max-width: 798px) {
        color: $light-color;
        svg {
            color: $light-color;
        }
    }
}

div,
section,
#root,
html,
body {
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: auto !important;
    background-attachment: fixed;
}

.image-back {
    background-image: url("./assets/img/background.png") !important;
    min-height: 100vh !important;
}

.dark-back {
    background-color: var(--bs-dark) !important;
    min-height: 100vh !important;
}

.light-back {
    background-color: var(--bs-gray-700) !important;
    min-height: 100vh !important;
}

* {
    // font-family: 'Lato', sans-serif !important;
    // font-family: 'Nunito', sans-serif !important;
    font-family: 'Istok Web', sans-serif !important;
}
span,
h1,
h2,
h3,
h5,
h6,
p,
a,
img,
.no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.universal-logo {
    width: 50px !important;
    height: auto !important;
}
.my-navbar {
    background: $light-color;
    z-index: 15;
    padding: 3px 0px !important;
    // min-height: $navbar-height;
    // max-height: $navbar-height;
    // height: $navbar-height;
    @media screen and (max-width: 1020px) {
        // min-height: $navbar-sm-height;
        // max-height: $navbar-sm-height;
        // height: $navbar-sm-height;
    }
}

.container {
    background-color: transparent;
}

.with-top-space {
    // margin-top: $navbar-height !important;
}

.text-shadow {
    text-shadow: 2px 2px 4px var(--bs-dark);
}

.account-button {
    padding: 0 !important;
    margin-left: 2rem;
    .dropdown-toggle.btn {
        padding: 0 !important;
        background-color: transparent !important;
        border: none !important;
        color: var(--bs-dark) !important;
        margin-top: 8px;
        font-weight: 600;
    }
}

.breadcrumb-container-single, .breadcrumb-container {
    display: none !important;
}