@import "~bootstrap/scss/bootstrap";

$navbar-height: 65px;
$light-color: var(--bs-dark);
$dark-color: var(--bs-light);
$breadcrumb-height: 35px;
$margin-top-global: calc($navbar-height + $breadcrumb-height);

.nav-link {
    cursor: pointer !important;
    color: $light-color;
    svg {
        color: $light-color;
    }

    @media screen and (max-width: 798px) {
        color: $dark-color;
    svg {
        color: $dark-color;
    }
    }
}

html, body, .root {
    background-image: url('./assets/img/background.png') !important;
    // background-color: var(--bs-black);
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size:auto !important;
    background-attachment: fixed;
}

span, h1, h2, h3, h5, h6, p, a, img, .no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.universal-logo {
    width: 138px !important;
    height: auto !important;
}
.my-navbar {
    background: $dark-color;
    // background: #e4e3e3;
    z-index: 15;
    min-height: $navbar-height !important;
    height: $navbar-height !important;
}

.container {
    background-color: transparent;
}

.with-top-space {
    margin-top: $navbar-height !important;
}